# Thu Jul 25 14:21:14 UTC 2013 BFH polishing UI, especially mainnav
# Tue Jul 16 13:46:55 UTC 2013 BFH first cut, to match John's en.yml

common: &common
  site_name: "DETERLAB Beginner Interface"
  contact_email: "webmaster@deterlab.net"
  cert_directory: '/tmp/dbi'
  # set this in case the app creates cookies
  site_domain: 'deterlab.net'

  # will programmer debugging output be visible to the end user?
  # (should log be an alternative?)
  debug_visible: false

  # the inactivity timeout in seconds
  timeoutsecs: 300

  # urls interpolated into localized text via "{tag~url}" notation
  urls:
    get_started: "http://info.deterlab.net/get_started_deterlab"
    usage: "https://trac.deterlab.net/wiki/Policy"
    login: "/login"
    contact: "http://info.deterlab.net/contact_deterlab"
    education: "https://education.deterlab.net/"

  headlinenav:
    deterprojecturl: "http://deter-project.org/"
    contacturl: "http://info.deterlab.net/contact_deterlab"

  error_page:
    supporturl: "http://info.deterlab.net/support"

  mainnav:
    supporturl: "http://info.deterlab.net/support"
    projectsurl: "/projlist"
    profileurl: "/profshow"
    experimentsurl: "/experlist"

    main_nav_option1_link: "/"
    main_nav_option2_link: "/projlist"
    main_nav_option3_link: "/experlist"
    main_nav_option4_link: "/"
    main_nav_option5_link: "/"

  footer:
    deterlablogo: "masthead.jpg"
    emulablogo: "fancy-builtwith.png"
    privacyurl: "http://info.deterlab.net/privacy"
    usageurl: "https://trac.deterlab.net/wiki/Policy"
    contacturl: "http://info.deterlab.net/contact_deterlab"
    deterprojecturl: "http://deter-project.org/"

  rightgutter:
    docsurl: "http://info.deterlab.net/documentation"
    docseduurl: "http://www.deter-project.org/deterlab-cyber-security-education"
    supporturl: "http://info.deterlab.net/support"
    usageurl: "/login"
    newsurl: "/login"

  front:
    url1: "http://www.isi.edu/deter/docs/DETER_Tutorial-TF-Jan2011.pdf"
    #url2: "https://www.isi.deterlab.net/reqaccount.php3"
    url2: "/newproject"

  profile:
    # note: this is a string because it is destined to be part of HTML, a td width
    name_col_width: "30"
    # note: this is *field width* and so is in characters, not pels
    value_col_width: "60"

  login:
    forgoturl: "/pwrdforgot1"
    reseturl: "/pwrdreset1"

development:
  <<: *common

test:
  <<: *common

production:
  <<: *common
