<!-- START _login_timeout.html.erb -->
<!-- 
HISTORY
Sat Aug  3 15:36:09 UTC 2013 BFH v0.5, first version
-->
      <h2 class="title" id="page-title"><%= t('apology_timeout.title') %></h2>
      <div id="node-1" class="page-ntype published not-promoted not-sticky full-view author-admin clear-block">
	<h3><%= t('apology_timeout.subtitle') %></h3>
	<p><%= t('apology_timeout.paragraph1') %></p>
	<%= button_to t('apology_timeout.buttontext'), "/login", :method => "get" %>
    </div> <!-- end of node-1 -->

<!-- END _login_timeout.html.erb -->
