<!-- START _login_ok.html.erb -->
<!-- 
HISTORY
Sun Jul 21 14:39:23 UTC 2013 BFH v0.2, first version
-->

      <h2 class="title" id="page-title"><%= t('front.title') %></h2>
      <div id="node-1" class="page-ntype published not-promoted not-sticky full-view author-admin clear-block">
	<ul>
	  <li><a href="/login?profile=show"><%= t('mainnav.profile') %></a></li>
	</ul>
    </div> <!-- end of node-1 -->

<!-- END _login_ok.html.erb -->
