<!-- START news.html.erb -->
<!-- 
HISTORY
Thu Sep 25 14:30:26 UTC 2014 BFH first version (placeholder)
-->

  <p>Place holder for whatever news the service gives us</p>

  <%= link_to 'Home','/login' %>
<!-- END news.html.erb -->
