<!-- START usage.html.erb -->
<!-- 
HISTORY
Thu Sep 25 14:29:46 UTC 2014 BFH first version (placeholder)
-->

  <p>Place holder for whatever current system status the web service gives us</p>

  <%= link_to 'Home','/login' %>
<!-- END usage.html.erb -->
