<!-- START new.html.erb -->
<!-- 
HISTORY
Sun Jul 14 16:16:58 UTC 2013 BFH v0.1, adapt http://info.deterlab.net
-->

<div id="header">
  <div class="wrapper">
    <div id="headerinner">
      <div id="headercontent">
        <h1 id="site-name"><a href="/" title="Home" rel="home" id="masthead_link"></a></h1>
        <div id="headerlinks">
          <div class="block top-region menu-block clear-block" id="block-menu-menu-header-links">
            <ul class="menu">
              <li class="leaf last"><a href="http://info.deterlab.net/contact_deterlab" title="">Contact</a></li>
              <li class="leaf"><a href="http://deter-project.org/" title="">DETER Project</a></li>
              <li class="leaf"><a href="/login/" title="">About</a></li>
            </ul>
          </div>
        </div> <!-- end sitename --> <!-- END SLOGAN -->
      </div>
    </div><!-- END HEADERINNER -->
    <div id="navigation">
      <del class="wrap">
        <ul>
	  <li class="leaf first active-trail"><a href="/login" title="About DeterLab" class="active">About</a></li>
          <li class="leaf"><a href="/get_started_deterlab" title="Get Started in DeterLab">Get Started in DeterLab</a></li>
          <li class="leaf"><a href="/support" title="Support">Support</a></li>
          <li class="leaf"><a href="/documentation" title="Documentation">Documentation</a></li>
          <li class="leaf last"><a href="/contact_deterlab" title="Contact DeterLab">Contact</a></li>
        </ul>
      </del>
    </div><!-- END NAVIGATION -->
  </div><!-- END WRAPPER -->
</div><!-- END HEADER -->
<div id="maincontent">
  <div class="wrapper"><!-- END LEFT SIDEBAR -->
    <div id="main">
      <h2 class="title" id="page-title">Please log into to access your DeterLab account (DBI)</h2>
      <div id="node-1" class="page-ntype published not-promoted not-sticky full-view author-admin clear-block">

        <!-- login form definition begins -->
        <%= form_tag("/login", :method=>'post', :multipart=>true)  do %> 
        <table>
          <tr>
            <td>Username:</td>
            <td>
              <%= text_field_tag 'uid', '', :maxlength => 16, :size => 16 %> 
            </td>
          </tr>
          <tr>
            <td>Password:</td> 
            <td>
              <%= password_field_tag 'password', '', :maxlength => 16, :size => 16, :disabled => true %>
	    </td>
          </tr>
          <tr>
            <td colspan="2" align="center">
              <b> <%= submit_tag "Login" %> </b>
            </td>
          </tr>
        </table>
        <% end %>                 
        <!-- form definition ends -->

    </div> <!-- end of main -->
  </div> <!-- end of main content -->

  <div id="footer">
    <div class="block contentfooter-region menu-block clear-block" id="block-menu-menu-footer-links">
      <ul class="menu">
        <li class="leaf first active-trail"><a href="/login" title="" class="active">Home</a></li>
        <li class="leaf"><a href="http://info.deterlab.net/privacy" title="">Privacy</a></li>
        <li class="leaf last"><a href="http://info.deterlab.net/contact_deterlab" title="">Contact</a></li>
      </ul>
    </div>
  </div>
</div><!-- END MAINCONTENT-->

<!-- END new.html.erb -->
